@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

.confirm-email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #191a15; /* Cambia el color de fondo según tu preferencia */
}

.confirming-message {
  font-family: "Goldman";
  font-size: 24px;
  font-weight: bold;
  color: #bfe449; /* Cambia el color del texto según tu preferencia */
  margin-top: 20px;
}
