@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

.article-restore {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambiado a min-height para asegurarse de que el contenido se centre incluso si la página es más alta que la pantalla */
    background: #191a15;
}

.restore-container {
    font-family: 'Goldman';
    padding: 2rem;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.restore-container h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}

.restore-container Input {
    width: 100%;
}

