@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

.storybook-navbar {
  font-family: 'Goldman';
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid #505050;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1.5%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1.5%;

}

.logo img {
  max-width: 10em; /* Cambia el valor según tus preferencias */
}

/* En tu archivo de estilos CSS */

/* Estilos para el select */
select {
  font-family: 'Goldman', sans-serif; /* Cambia la fuente según tus preferencias */
  padding: 2rem; /* Añade espacio alrededor del texto dentro del select */
  border: none; /* Elimina el borde predeterminado del select */
  border-radius: 4px; /* Añade bordes redondeados */
  background-color: transparent; /* Cambia el color de fondo */
  color: #B6E72B; /* Cambia el color del texto */
  width: 100px; /* Ajusta el ancho según tus necesidades */
  font-size: 16px; /* Aumenta el tamaño de las letras */
  /* negrilla */
  font-weight: bold;
}
